@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1773cf;
  border-radius: 10px;
}

/* Tactical Border */
.tactical-border {
  position: relative;
}

.tactical-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
}

.tactical-border::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 8px;
  height: 8px;
}

/* Global */
body {
  font-family: "Space Grotesk", sans-serif;
}